    :root {
    /* ===== COLORS ===== */
    --dark-blue: #18314f;
        --medium-blue: #384e77;
    --light-blue: #8bbeb2;
    --white: #fbfbff;
}

*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, serif;
    background-color: var(--white);
}
